h1,h2,h3,h4,h5,h6,ul,ol {
    margin: 0;
    padding: 0;
}
.mainHeader {
    width: 100%;
    height: 80px;
    display: block;
    background: #1F2640;
}
.mainHeader img {
    width: 150px;
    position: relative;
    top: 18px;
    cursor: pointer;
}
.middleSection {
    width: 100%;
    display: block;
    background: #fff;
    margin-top: 35px;
}
.middleSection h1 {
    font-size: 48px;
    color: #2B416C;
    font-weight: 700;
    display: block;
}
.campaignsList {
    margin-top: 40px;
    display: block;
}


.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }

.tabset .tab-panel {
    display: none;
  }

  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #556789;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #556789;
  }
  
  .tabset > input:checked + label {
    border: none;
    border-bottom: solid 4px #83A515;
    color: #83A515;
    font-weight: 500;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #F1F1F4;
  }
  .tabset {
    max-width: 65em;
  }


  table { 
	width: 100%;
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Zebra striping */
/* tr:nth-of-type(odd) { 
	background: #eee; 
	} */

th { 
	background: #F1F1F4; 
	color: white; 
    font-weight: 500; 
    color: #556789;
    text-transform: uppercase;
}
td span {
    color: #2B416C;
    font-size: 16px;
}

td em {
   font-style: italic;
}

td .actionCon {
    float: left;
    margin-right: 20px;
}

td .actionCon img {
    position: relative;
    top: -2px;
    margin-right: 3px;
}

td.campaign img {
    float: left;
    margin-right: 12px;
    position: relative;
    top: 4px;
}

td, th { 
	padding: 15px; 
	/* border: 1px solid #ccc;  */
	text-align: left; 
	font-size: 16px;
}
    
td {
    color: #7788A3;
    font-size: 14px;
    border-top: solid 1px #ECECEC;
}  

td:last-child, th:last-child {
    width: 38%;
}

td span.currencyIcon {
    width: 24px;
    height: 24px;
    background: #EBC668;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin-right: 8px;
}


.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardPopup {
    width: 400px;
    min-height: 150px;
    background: #fff;
    padding: 15px;
}
.dashboardPopupHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.dashboardPopupHeader img {
    width: 137px;
    position: relative;
    left: -12px;
}
.dashboardPopupHeader h3 {
    color: #2B416C;
    font-size: 17px;
    font-weight: 500;
}
.dashboardPopupHeader p {
    color: #9CA2B7;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 4px;
}
.dashboardPopupContent h2 {
    color: #2B416C;
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0 20px 0;
}
.pricingDataRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricingDataRow p {
    color: #7788A3;
    font-size: 16px;
    font-weight: 400;
}
.pricingDataRow span {
    color: #556789;
    font-size: 16px;
    font-weight: 700;
}
.dashboardPopupFooter {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboardPopupFooter button {
    border: 2px solid #181B34;
    width: 84px;
    height: 48px;
    outline: none;
    color: #181B34;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 1024px) {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border-bottom: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid #eee;  */
		position: relative;
        padding-left: 50%; 
        height: 70px;
        align-items: center;
        display: flex;
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 20px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
    }
    
    td:last-child, th:last-child {
        width: auto;
    }

    td.date {
        display: inline-block !important;
    }

}

@media only screen and (max-width: 768px) {
    .tabset > label {
        font-size: 16px;
    }
}






