<header class="mainHeader">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="../../../assets/logo.png" alt="">
            </div>
        </div>
    </div>
</header>
<section class="middleSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Manage Campaigns</h1>
                <div class="campaignsList">
                    <div class="tabset">
                        <input type="radio" name="tabset" id="tab1" checked (click)='changeTab("upcoming")'>
                        <label for="tab1">Upcoming Campaigns</label>
                        <input type="radio" name="tabset" id="tab2"
                        (click)='changeTab("live")'>
                        <label for="tab2">Live Campaigns</label>
                        <input type="radio" name="tabset" id="tab3"
                        (click)='changeTab("past")'>
                        <label for="tab3">Past Campaigns</label>
                        <div class="tab-panels">
                            <div class="tab-panel">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Campaign</th>
                                            <th>View</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let campaign of campaignService.campaigns | Campaignfilter:campaignTab' >
                                            <td data-column="Date" class="date">
                                                <span> {{campaign.date}} </span><br>
                                                <em> {{campaign.dayDiff}} {{campaignTab === 'upcoming' ? 'Days ahead' :"Days Ago"}}</em>
                                            </td>
                                            <td data-column="Campaign" class="campaign">
                                                <img src="../../../assets/bitmap.png" alt="">
                                                <div class="CampaignDetail">
                                                    <span>{{campaign.date}} </span><br>
                                                    <em>{{campaign.dayDiff}} {{campaignTab === 'upcoming' ? 'Days ahead' :"Days Ago"}}</em>
                                                </div>
                                            </td>
                                            <td data-column="View" (click)='showPricingModal(campaign)' class='cursor'>
                                                <span class="currencyIcon">$</span>
                                                View Pricing
                                            </td>
                                            <td data-column="Actions">
                                                <div class="actionCon">
                                                    <img src="../../../assets/file.png" alt="">
                                                    CSV
                                                </div>
                                                <div class="actionCon">
                                                    <img src="../../../assets//report.png" alt="">
                                                    Report
                                                </div>
                                                <div class="actionCon">
                                                    <img src="../../../assets/calendar.png" alt="">
                                                    Schedule Again
                                                </div>
                                            </td>   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="overlay" *ngIf='isShowPricingModal'>
    <div class="dashboardPopup">
        <div class="dashboardPopupHeader">
            <img src="../../../assets/popupImg.png" alt="">
            <div class="title">
                <h3>{{campaign.region}}</h3>
                <p>{{campaign.name}}</p>
            </div>
        </div>
        <div class="dashboardPopupContent">
            <h2>Pricing</h2>
            <div class="pricingData">
                <div class="pricingDataRow">
                    <p>1 Week - 1 Month</p>
                    <span>$ {{campaign.price.monthly}} </span>
                </div>
                <div class="pricingDataRow">
                    <p>6 Months</p>
                    <span>$ {{campaign.price.half_year}} </span>
                </div>
                <div class="pricingDataRow">
                    <p>1 Year</p>
                    <span>$ {{campaign.price.yearly}} </span>
                </div>
            </div>
        </div>
        <div class="dashboardPopupFooter">
            <button type="button" (click)='closePricingModal()' class='cursor'>Close</button>
        </div>
    </div>
</div>
